@charset "utf-8";

.product{
    width:100%;
}
.news_banner {
    width: 100%;
    height: 25rem;
    background: url("../img/banner.jpg") no-repeat center center;
    background-size: cover;
}
.product_banner{
    width:100%;
    border-bottom: 1px solid #E1E1E1;
}
.product_banner>ul{
    width:80%;
    margin: 0 auto;
    display:flex;
    justify-content: center;
}
.product_banner>ul>li{
    width:16%;
    cursor: pointer;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.product_banner>ul>li:nth-child(1),.product_banner>ul>li:nth-child(2),.product_banner>ul>
li:nth-child(3),.product_banner>ul>li:nth-child(4),.product_banner>ul>li:nth-child(5){
    border-right: 1px solid #E1E1E1;
}
.product_img{
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.product_img>p{
    text-align: center;
    margin-top: 1rem;
    font-size: 0.8em;
}
.p_show{
    color:#D71F3F;
}
.product_banner>ul>li:hover .product_img>p{
    color:#D71F3F;
}
.i_img{
    text-align: center;
}
.icon_one{
    display:none;
}
.product_banner>ul>li:hover .icon_one{
    display:block;
}
.product_banner>ul>li:hover .icon_two{
    display:none;
}



/************产品分类部分样式*********************/
.product_list_item{
    width:100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    /*display:none;*/
}

.lampblack_two{
    width:100%;
    padding-bottom: 2rem;
}
.lampblack_title,.product_item{
    width:80%;
    margin: 0 auto;
    /*border:1px solid red;*/
}

.product_item>ul{
    width:100%;
    display:flex;
    justify-content: flex-start;
}
.product_item>ul>li{
    width:20%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
    border:1px solid #E8E8E8;
    transition: all 0.5s;
}
.product_item>ul>li+li{
    margin-left: 2rem;
}
.product_item>ul>li:hover{
    border:1px solid #CE243E;
    transition: all 0.5s;
}
.item_img{
    width:100%;
    text-align: center;
}
.item_img>img{
    width:100%;
}
.item_title{
    width:100%;
    text-align: center;
}
.item_title>p{
    font-size: 0.9em;
    color:#666666;
    line-height: 1.5rem;
    padding-top: 0.5rem;
}
.item_title>p:first-child{
    font-size: 1em;
}
.item_title>p>span{
    font-weight: bold;
    color:#CE243E;
}

/*******页码部分样式********/
.pagination{
    width:100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.pagination_all{
    width:60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /*border: 1px solid red;*/
}
.midden_item{
    display: flex;
    justify-content: flex-start;
}
.prev_item,.next_item{
    width:10%;
    text-align: center;
    background: #ECECEC;
    cursor: pointer;
}
.prev_item:hover{
    background: #CE243E;
    color:#ffffff;
}
.next_item:hover{
    background: #CE243E;
    color:#ffffff;
}
.prev_item>p,.next_item>p{
    font-size: 1em;
    line-height: 1.8rem;
}
.midden_item{
    width:18%;
    text-align: center;
}
.midden_item>li{
    width:25%;
    background: #ECECEC;
    line-height: 1.8rem;
    margin-left: 0.48rem;
    cursor: pointer;
}
/*.midden_item>li:first-child{*/
/*background: #CE243E;*/
/*color:#ffffff;*/
/*}*/
.midden_item>li:hover{
    background: #CE243E;
    color:#ffffff;
}
.li_show{
    background: #CE243E !important;
    color:#ffffff;
}
.midden_item>li>span{
    font-size: 1em;
}



@media screen and (min-width: 750px) and (max-width: 1200px){
    .news_banner {
        background: url(../img/ban_j.jpg) no-repeat center center;
        background-size: cover;
    }
    .product_banner>ul {
        width: 90%;
        /*margin: 0 auto;*/
        /*display: flex;*/
        /*justify-content: center;*/
    }
    .product_banner>ul>li {
        width: 20%;
        /*cursor: pointer;*/
        padding-top: 0rem;
        padding-bottom: 0rem;
    }

    .lampblack_title, .product_item {
        width: 90%;
        margin: 0 auto;
        /* border: 1px solid red; */
    }
    .product_item>ul>li {
        width: 23%;
        /*padding-top: 0.5rem;*/
        /*padding-bottom: 0.5rem;*/
        /*cursor: pointer;*/
        /*border: 1px solid #E8E8E8;*/
        /*transition: all 0.5s;*/
    }
    .product_item>ul>li+li {
        margin-left: 1rem;
    }
    .lampblack {
        /*width: 100%;*/
        padding-bottom: 4rem;
    }
    .prev_item, .next_item {
        width: 20%;
        /*text-align: center;*/
        /*background: #ECECEC;*/
        /*cursor: pointer;*/
    }
    .midden_item {
        width: 35%;
        text-align: center;
    }

}





@media screen and (min-width:320px) and (max-width: 749px){
    .news_banner {
        background: url(../img/ban_j.jpg) no-repeat center center;
        background-size: cover;
    }
    .product_banner>ul {
        width: 100%;
        /*margin: 0 auto;*/
        /*display: flex;*/
        /*justify-content: center;*/
    }
    .product_banner>ul>li {
        width: 15%;
        /*cursor: pointer;*/
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }
    .icon_one>img, .icon_two>img {
        width: 80%;
    }

    .product_img>p {
        font-size: 0.5em;
        margin-top: 0.5rem;
    }
    .product_img {
        margin: 0 auto;
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    .icon_two {
        /*position: absolute;*/
        /*top: 0;*/
        left: 8%;
    }


    .lampblack_title, .product_item {
        width: 80%;
        margin: 0 auto;
        /* border: 1px solid red; */
    }
    .lampblack_text{
        width:80%;
        margin: 0 auto;
    }
    .product_item>ul {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .product_item>ul>li {
        width: 100%;
        margin-top: 1rem;
        /*padding-top: 0.5rem;*/
        /*padding-bottom: 0.5rem;*/
        /*cursor: pointer;*/
        /*border: 1px solid #E8E8E8;*/
        /*transition: all 0.5s;*/
    }
    .product_item>ul>li+li {
        margin-left: 0rem;
    }
    .lampblack {
        width: 100%;
        padding-bottom: 3rem;
    }
    .pagination_all {
        width: 80%;
        /*margin: 0 auto;*/
        /*display: flex;*/
        /*justify-content: center;*/
        /* border: 1px solid red; */
    }
    .prev_item, .next_item {
        width: 24%;
        /*text-align: center;*/
        /*background: #ECECEC;*/
        /*cursor: pointer;*/
    }
    .midden_item {
        width: 45%;
        text-align: center;
    }
}
