@charset "utf-8";

/*********************************媒体查询样式***********************************************/
    .service{
        width:100%;
    }
    .streamer{
        width:100%;
        height:25rem;
        background: url("../img/201807101633194187.jpg") no-repeat center center;
        background-size: cover;
    }

    /**************服务理念部分样式***********************/
    .idea{
        width:100%;
        padding-top: 6rem;
        padding-bottom: 4rem;
    }
    .idea_top,.idea_bottom{
        width:100%;
        text-align: center;
        /*border: 1px solid red;*/
    }
    .idea_bottom{
        margin-top: 4rem;
        height:15.5rem;
        position: relative;
        border-top:1px solid #E5E5E5;
    }
    .idea_title,.idea_bottom>ul{
        width:80%;
        margin: 0 auto;
    }
    .idea_bottom>ul{
        display:flex;
        justify-content: space-between;
        position: absolute;
        top:-2rem;
        left:10%;
    }
    .idea_title{
        text-align: center;
        line-height: 2.5rem;
    }
    .idea_title>h4{
        font-size: 2em;
        color:#666666;
        letter-spacing: 5px;
    }
    .idea_title>p{
        font-size: 0.8em;
        color:#999999;
    }
    .idea_bottom>ul>li{
        width:9rem;
        text-align: center;
    }
    .idea_img,.idea_text{
        width:100%;
    }
    .idea_text{
        margin-top: 1.5rem;
    }
    .idea_img{
        position: relative;
        margin-left: 3%;
    }
    .img_one,.img_two{
        width:100%;
        /*border: 1px solid red;*/
    }
    .img_one>img,.img_two>img{
        width:100%;
    }
    .img_two{
        position: absolute;
        top:0;
        left:0;
        z-index: 1;
        display: none;
    }
    .idea_img_text{
        width:100%;
        position: absolute;
        top:38%;
        left:0;
        z-index: 2;
    }
    .idea_img_text>h4{
        font-size: 1.2em;
        color:#D71F3F;
        /*color:#000000;*/
    }
    .idea_img_text>p{
        font-size: 0.5em;
        color:#999999;
    }
    .idea_text>p{
        font-size: 0.7em;
        color:#999999;
    }
    /***********关键帧动画***********/
    .idea_bottom>ul>li:hover .idea_img_text>h4{
        color:#ffffff;
        transition: all 0.5s ease;
    }
    .idea_bottom>ul>li:hover .idea_img_text>p{
        color:#ffffff;
        transition: all 0.5s ease;
    }
    .idea_bottom>ul>li:hover .img_two{
        display:inline-block;
        transition: all 0.5s ease;
    }
    .idea_bottom>ul>li:hover .img_two>img{
        -wenkit-animation:changes 0.5s ease-in-out;
        -ms-animation:changes 0.5s ease-in-out;
        -moz-animation:changes 0.5s ease-in-out;
        -o-animation:changes 0.5s ease-in-out;
        animation:changes 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    @keyframes changes{
        20%{
            transform:scale(1.2)
        }
        40%{
            transform:scale(1.1)
        }
        60%{
            transform:scale(0.9)
        }
        80%{
            transform:scale(1.1)
        }
        90%{
            transform:scale(1.05)
        }
        100%{
            transform:scale(1)
        }
    }



    /*********************服务承诺部分样式******************************/
    .promise{
        width:100%;
        background: #F8F8F8;
        padding-top: 6rem;
        padding-bottom: 4rem;
    }
    .promise_text,.promise_type{
        width:90%;
        margin: 0 auto;
        /*border: 1px solid red;*/
    }
    .promise_text{
        text-align: center;
        line-height: 2.5rem;
    }
    .promise_text>h4{
        font-size: 2em;
        color:#666666;
        letter-spacing: 5px;
    }
    .promise_text>p{
        font-size: 0.8em;
        color:#999999;
    }
    .promise_type{
        display:flex;
        justify-content: center;
        margin-top: 3rem;
    }
    .type_left{
        width:32rem;
        display:flex;
        justify-content: flex-start;
        background: #ffffff;

    }
    .type_left:first-child{
        margin-right: 1rem;
    }
    .type_left:last-child{
        margin-left: 1rem;
    }

    .promise_img{
        width:15.4rem;
    }
    .promise_img>img{
        width:100%;
        height:100%;
    }
    .promise_list{
        width:18rem;
        text-align: left;
        padding-left: 1.5rem;
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
    }
    .promise_item+.promise_item{
        margin-top: 1rem;
    }
    .promise_item>h5{
        font-size: 0.9em;
        color:#666666;
       padding-bottom: 0.5rem;
    }
    .promise_item>p,.annotation>p{
        font-size: 0.7em;
        color:#999999;
    }
    .annotation{
        margin-top: 1.5rem;
    }



    /**********************服务流程部分样式******************************/
    .flow_path{
        width:100%;
        padding-top: 6rem;
        padding-bottom: 4rem;
    }
    .flow_type{
        width:80%;
        margin: 2rem auto;
        /*border: 1px solid red;*/
    }
    .flow_type>ul{
        width:100%;
        display: flex;
        justify-content: space-between;
    }
    .flow_type>ul>li{
        width:15%;
        text-align: center;
        /*border: 1px solid red;*/
    }
    .flow_type_top,.flow_type_bottom{
        width:123px;
    }
    .flow_type_top{
        height:9rem;
        position: relative;
        margin: 0 auto;
    }
    .small_img{
        width:100%;
        position: absolute;
        top:37%;
        left:0;
    }
    .small_img>img{
        width:3rem;
    }
    .img2{
        display:none;
    }
    /*****鼠标移入显示样式****/
    .flow_type>ul>li:hover .img2{
        display:inline-block;
    }
    .flow_type>ul>li:hover .img1{
        display:none;
    }
    .flow_type>ul>li:hover .hexagon{
        display: inline-block;
    }

    .big_img{
        width:100%;
        height:9rem;
        background: url("../img/yf.png") no-repeat center center;
        margin: 0 auto;
        /*background-size: cover;*/
    }

    .flow_type_bottom{
        /*margin-top: 1rem;*/
        margin: 1rem auto;
    }
    .flow_type_bottom>h4{
        font-size: 1.2em;
        color:#333333;
    }
    .flow_type_bottom>p{
        font-size: 0.8em;
        color:#999999;
    }
    .type_p{
        margin-top: 0.8rem;
    }
    /****画六边形部分样式*****/
    .hexagon{
        width:100%;
        height:9rem;
        position:absolute;
        top:0;
        left:0;
        display: none;
    }
    .hexagon_one,.hexagon_two,.hexagon_three{
        width:7.25rem;
        height:4rem;
        position:absolute;
        top:2.4rem;
        left:0.2rem;
        background: #D71F3F;
        border: 1px solid #D71F3F;
    }
    .hexagon_two{
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        -webkit-transform: rotate(60deg);
        -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        -o-transform: rotate(60deg);
        transform: rotate(60deg);
    }
    .hexagon_three{
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        -webkit-transform: rotate(300deg);
        -moz-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
        -o-transform: rotate(300deg);
        transform: rotate(300deg);
    }





    /***********************资料下载部分*******************************/
    .material{
        background: #F8F8F8;
        padding-top: 4rem;
        padding-bottom: 6rem;
    }
    .material_list{
        width:70%;
        margin: 0 auto;
    }
    .material_list>ul{
        width:100%;
        display:flex;
        justify-content: space-between;
        padding-top: 2.5rem;
        /*border:1px solid red;*/
    }
    .material_list>ul>li{
        width:30%;
        display: flex;
        justify-content: center;
        box-shadow: 2px 3px 4px 0px;
    }
    .span_one{
        width:25%;
        line-height: 4rem;
        text-align: center;
        font-size: 1.5em;
        color:#666666;
        background: #ffffff;
    }
    .span_two{
        width:75%;
        position: relative;
        background: #BFBFBF;
    }
    .span_two>span{
        line-height: 4rem;
        font-size: 0.9em;
        color:#F7F7F7;
        margin-left: 2rem;
    }

    .do_img{
        width:1rem;
        height:1rem;
        border: none;
        outline: none;
        background: #BFBFBF;
        position: absolute;
        top:70%;
        left:91%;
        cursor: pointer;
    }
    .material_list>ul>li:hover .span_two{
        background: #C4243E;
    }
    .material_list>ul>li:hover .do_img{
        background: #C4243E;
    }






@media screen and (min-width: 750px) and (max-width: 1200px){
    .streamer{
        /*width:100%;*/
        /*height:25rem;*/
        background: url("../img/ban_j.jpg") no-repeat center center;
        background-size: cover;
    }
    /******服务理念*******/
    .idea {
        /*width: 100%;*/
        padding-top: 3rem;
        /*padding-bottom: 4rem;*/
    }
    .idea_bottom>ul {
        /*display: flex;*/
        /*justify-content: space-between;*/
        /*position: absolute;*/
        /*top: -2rem;*/
        left: 5%;
    }
    .idea_title, .idea_bottom>ul {
        width: 90%;
        margin: 0 auto;
    }
    .idea_img_text>p {
        /*font-size: 0.5em;*/
        /*color: #999999;*/
        display: none;
    }
    .idea_bottom>ul>li {
        width: 15%;
        text-align: center;
    }

    /*********服务承诺***********/
    .promise {
        /*width: 100%;*/
        /*background: #F8F8F8;*/
        padding-top: 3rem;
        /*padding-bottom: 4rem;*/
    }
    .promise_text, .promise_type {
        width: 90%;
        margin: 0 auto;
        /* border: 1px solid red; */
    }
    .promise_type {
        /*display: flex;*/
        /*justify-content: space-between;*/
        flex-wrap: wrap;
        /*margin-top: 3rem;*/
    }
    .type_left {
        width: 80%;
        /*display: flex;*/
        justify-content: flex-start;
        /*background: #ffffff;*/
        margin-top: 3rem;
    }

    /**********服务流程***********/
    .flow_path {
        /*width: 100%;*/
        padding-top: 3rem;
        /*padding-bottom: 4rem;*/
    }
    .promise_text, .flow_type {
        width: 90%;
        margin: 0 auto;
        /* border: 1px solid red; */
    }
    .flow_type>ul {
        /*width: 100%;*/
        /*display: flex;*/
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .flow_type>ul>li {
        width: 25%;
        text-align: center;
        margin-top: 2rem;
        /* border: 1px solid red; */
    }
    .flow_type>ul>li:hover .hexagon{
        display:none;
    }

    /********资料下载**********/
    .material {
        /*background: #F8F8F8;*/
        padding-top: 3rem;
        /*padding-bottom: 6rem;*/
    }
    .promise_text, .flow_type {
        width: 90%;
        margin: 0 auto;
        /* border: 1px solid red; */
    }
    .material_list {
        width: 90%;
        margin: 0 auto;
    }
    .material_list>ul>li {
        width: 32%;
        /*display: flex;*/
        /*justify-content: center;*/
        /*box-shadow: 2px 3px 4px 0px;*/
    }
    .do_img {
        /*width: 1rem;*/
        /*height: 1rem;*/
        /*border: none;*/
        /*outline: none;*/
        /*background: #BFBFBF;*/
        /*position: absolute;*/
        /*top: 70%;*/
        left: 88%;
        cursor: pointer;
    }
    .span_one {
        width: 32%;
        /*line-height: 4rem;*/
        /*text-align: center;*/
        /*font-size: 1.5em;*/
        /*color: #666666;*/
        /*background: #ffffff;*/
    }
    .span_two {
        width: 69%;
        /*position: relative;*/
        /*background: #BFBFBF;*/
    }
}





@media screen and (min-width:320px) and (max-width: 749px){
    .streamer{
        /*width:100%;*/
        /*height:25rem;*/
        background: url("../img/ban_j.jpg") no-repeat center center;
        /*background-size: cover;*/
    }
    /**********服务理念*************/
    .idea {
        /*width: 100%;*/
        padding-top: 2rem;
        /*padding-bottom: 4rem;*/
    }
    .idea_bottom {
        margin-top: 2rem;
        /*height: 15.5rem;*/
        /*position: relative;*/
        /*border-top: 1px solid #E5E5E5;*/
    }
    .idea_bottom {
         margin-top: 0rem;
         height: 34rem;
         position: static;
         border-top: none;
        padding-bottom: 1rem;
    }
    .idea_title, .idea_bottom>ul {
        width: 90%;
        margin: 0 auto;
    }
    .idea_bottom>ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
         position: static;
         top: 0;
         left: 0;
    }
    .idea_bottom>ul>li {
        width: 30%;
        text-align: center;
        margin-top: 2rem;
    }
    .idea_img_text>h4 {
        font-size: 1em;
    }
    .idea_img_text>p {
        display: none;
    }


    /**********服务承诺***********/
    .promise {
        /*width: 100%;*/
        /*background: #F8F8F8;*/
        padding-top: 2rem;
        /*padding-bottom: 4rem;*/
    }
    .promise_text, .promise_type {
        width: 90%;
        margin: 0 auto;
        /* border: 1px solid red; */
    }
    .promise_type {
        /*display: flex;*/
        /*justify-content: space-between;*/
        flex-wrap: wrap;
         margin-top: 0rem;
    }
    .type_left {
        width: 80%;
        /*display: flex;*/
        /*justify-content: space-between;*/
        flex-wrap: wrap;
        /*background: #ffffff;*/
        margin-top: 2rem;
    }
    .promise_img {
        width: 100%;
    }
    .promise_list {
        padding: 1rem 1rem;
    }
    .type_left:first-child {
         margin-right: 0rem;
    }
    .type_left:last-child {
        margin-left: 0rem;
    }



    /********服务流程********/
    .flow_path {
        /*width: 100%;*/
        padding-top: 2rem;
        /*padding-bottom: 4rem;*/
    }
    .promise_text, .flow_type {
        width: 90%;
        margin: 0 auto;
        /* border: 1px solid red; */
    }
    .flow_type>ul {
        /*width: 100%;*/
        /*display: flex;*/
        /*justify-content: space-between;*/
        flex-wrap: wrap;
    }
    .flow_type>ul>li {
        width:50%;
        text-align: center;
        margin-top: 2rem;
        /* border: 1px solid red; */
    }
    .flow_type>ul>li:hover .hexagon{
        display:none;
    }



    /*********资料下载*********/
    .material_list {
        width: 80%;
        margin: 0 auto;
    }
    .material_list>ul {
        /*width: 100%;*/
        /*display: flex;*/
        /*justify-content: space-between;*/
        flex-wrap: wrap;
        /*padding-top: 2.5rem;*/
        /* border: 1px solid red; */
    }
    .material_list>ul>li {
        width: 100%;
        /*display: flex;*/
        /*justify-content: center;*/
        margin-top: 2rem;
        /*box-shadow: 2px 3px 4px 0px;*/
    }
}





















